@font-face {
    font-family: 'seagram';
    src: url('fonts/Seagram tfb.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EnglishTowne';
    src: url('fonts/EnglishTowne.ttf') format('truetype'); 
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Seagram', 'poppins';
    scrollbar-width: none;
}

body {
    background-color: #1a1003;
}

/* pages */

.page {
    background-color: #000000b9;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 97%;
    max-width: 100%;
    height: 94%;
    padding: 20px;
    border-bottom: #000000 1px solid;
    justify-content: space-between;
    
}

#page1 strong {
    font-size: 40px;
    color: blue;
    text-align: center;
}

#page1 p{
    font-size: 30px;
    text-align: center;
}

.page.active {
    display: block;
}

strong { 
    font-weight: 100;
    font-size: 35px;
    font-family: 'seagram', 'poppins';
    letter-spacing: 0.1cap;
    word-spacing: 0.2cap;
    margin: 40px 0 0 0;
    color: aliceblue;
}


